* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  height: 100%;
  /* background-color: #FFF5EE; */
  font-family: Arial, Helvetica, sans-serif;
}

#title {
  margin-bottom: 0px;
}

h4 {
  margin: 8px;
}

.impact-box {
  border: solid 2px black;
  padding: 20px;
  background-color: #FFF5EE;
}

.caption {
  color: #808080;
}

.textCenter {
  text-align: center;
}

.explainer {
  margin: 0 auto;
  max-width: 1000px;
  padding: 0 40px;
  width: 100%;
}

.explainer p {
  line-height: 1.5em;
  font-size: 18px;
}

.diagram {
  max-width: 90%;
}

.centerImage {
  display: block;
  margin: auto;
}

.interactive {
  margin: 40px 0px;
}

.about {
  margin: 0 40px;
}

.wrapper {
  margin-top: 3.5vh;
  display: grid;
  grid-template-columns: 45% auto;
}

.frames-container {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 15px 20px;
  margin: 0px 40px;
}

.gallery {
  text-align: center;
  border: 1px solid #777;
  padding-bottom: 10px;
}

.result {
  border: 3px solid black;
}

.moment {
  width: 100%;
}

.moment-text {
  margin: 10px 0px;
}

.frame-num {
  margin-left: 5px;
  width: 2.8rem;
  text-align: center;
  letter-spacing: 0.05rem;
}

.pointRangeSlider {
  width: 80%;
}

.result-text {
  display: flex;
  justify-content: center;
}

#pointD {
  margin-left: 5px;
  font-size: 85%;
  font-weight: bold;
  color: red;
}

.graph-container {
  margin: 0px 40px;
}

.description {
  padding: 0px 10px;
}

#exampleDesc {
  display: block;
  height: 100px;
  overflow: auto;
}

.buttons {
  text-align: center;
  margin: 10px;
}

/* if screen width is 800px or less */
@media (max-width: 800px) {
  .wrapper {
    display: block;
  }

  .frames-container {
    display: grid;
    grid-template-columns: 45% 45%;
    gap: 15px;
    margin: 0px 10%;
  }

  .graph-container {
    margin: 20px 40px;
  }

  #exampleDesc {
    height: 100%;
  }
}

/* d3 styles */
.axis path,
.axis line {
  fill: none;
  stroke: rgba(0, 0, 0, 0.1);
  shape-rendering: crispEdges;
}

rect {
  fill: transparent;
  shape-rendering: crispEdges;
  cursor: grab;
}

rect:active {
  cursor: grabbing;
}

circle {
  cursor: pointer;
}

.dot {
  fill-opacity: .5;
}

.dot:hover {
  fill-opacity: .8;
}

.tip-image {
  margin-top: 8px;
  border: 2px solid black;
}

/* tip image style for points A,B,C,D */
.point-image {
  margin-top: 8px;
  border: 2px solid yellow;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  position: absolute;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  content: "\25BC";
  margin: -1px 0 0 0;
  top: 100%;
  left: 0%;
  text-align: center;
}

/* Style southward tooltips differently */
/* .d3-tip.s:after {
  content: "\25B2";
  margin: 0 0 1px 0;
  top: -8px;
  left: 0%;
  text-align: center;
} */

/* * {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
} */
