rect {
  fill: transparent;
  shape-rendering: crispEdges;
}

.axis path,
.axis line {
  fill: none;
  stroke: rgba(0, 0, 0, 0.1);
  shape-rendering: crispEdges;
}

.axisLine {
  fill: none;
  shape-rendering: crispEdges;
  stroke: rgba(0, 0, 0, 0.5);
  stroke-width: 2px;
}

.dot {
  fill-opacity: .5;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}


.container {
				width: 100%;
				}

			.container {
				  border: 5px solid #ffcc5c;
				  display: flex;
				}

			.container > div {
				  padding: 10px;
				  text-align: center;
				  font-size: 2em;
				  color: #000000;
				}

			.container2> div {
				  padding: 10px;
				  text-align: center;
				  font-size: 2em;
				  color: #ffeead;
				}

			.container2 {
				width: 100%;
				}

			.container2 {
				  border: 1px solid #ffcc5c;
				  display: flex;
				}
			.container2 > div:nth-child(1) {
				  background-color: #fb9a99;
				  width: 5%;
				}

			html, body {
			  background-color: #FFF5EE;
			  margin: 0px;
			}

			.container > div:nth-child(1) {
			  background-color: #a6cee3;
			  width: 25%;
			}

			.container > div:nth-child(2) {
			  background-color: #1f78b4;
			  width: 25%;
			}

			.container > div:nth-child(3) {
			  background-color: #b2df8a;
			  width: 25%;
			}

			.container > div:nth-child(4) {
			  background-color: #33a02c;
			  width: 25%;
			}

			/* Style the lines by removing the fill and applying a stroke */
			.line {
			    fill: none;
			    stroke: #ffab00;
			    stroke-width: 3;
			}

			.overlay {
			  fill: none;
			  pointer-events: all;
			}

			/* Style the dots by assigning a fill and stroke */
			.dot {
			    fill: #ffab00;
			    stroke: #fff;
			}

			  .focus circle {
			  fill: none;
			  stroke: steelblue;
			}



		div.gallery {
		    border: 1px solid #ccc;
		}

		div.gallery:hover {
		    border: 1px solid #777;
		}

		div.gallery img {
		    width: 100%;
		    height: auto;
		}

		div.desc {
		    padding: 5px;
		    text-align: center;
		}

		* {
		    box-sizing: border-box;
		}

		.responsive {
		    padding: 0 6px;
		    float: left;
		    width: 25%;
		}

		@media only screen and (max-width: 700px) {
		    .responsive {
		        width: 49.99999%;
		        margin: 6px 0;
		    }
		}

		@media only screen and (max-width: 500px) {
		    .responsive {
		        width:  100%;
		    }
		}

		.clearfix:after {
		    content: "";
		    display: table;
		    clear: both;
		}

		.text{
		font-family: Arial, Helvetica, sans-serif;
		}

		.pointRangeSlider{
			width: 80%;
