* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  background-color: #FFF5EE;
}

.about {
  margin: 4vh 30px;
  padding: 0 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
  display: grid;
  grid-template-columns: 45% auto;
  grid-gap: 20px;
  padding: 10px 20px;
}

.description {
  margin-bottom: 20px;
}

.graph-container {
  margin: 20px;
}

.frames-container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 15px;
  margin-left: 20px;
  padding-left: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.gallery {
  text-align: center;
  border: 1px solid #777;
  padding-bottom: 5px;
  margin: 0 3px;
}

.result {
  border: 3px solid black;
}

.moment {
  width: 100%;
}

.frame-num {
  margin: 5px;
  width: 2.8rem;
  text-align: center;
  letter-spacing: 0.05rem;
}

.result-num {
  margin: 5px auto;
  padding: 1px;
}

.pointRangeSlider {
  width: 80%;
}

#pointD {
  padding-top: 1px;
  margin: 5px;
  font-size: 85%;
}

.buttons {
  text-align: center;
}

#kVar {
  margin: 0px;
}

.k-container {
  text-align: center;
}

/* d3 styles */
rect {
  fill: transparent;
  shape-rendering: crispEdges;
}

.axis path,
.axis line {
  fill: none;
  stroke: rgba(0, 0, 0, 0.1);
  shape-rendering: crispEdges;
}

.dot {
  fill-opacity: .5;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  top: 100%;
  left: 0;
}

/* * {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
} */
